<a href="https://colab.research.google.com/github/Asrithakodam/AIML-2025/blob/main/pns_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
data=[45, 67, 89, 23, 45, 67, 89, 34, 56, 78, 90, 21, 45, 67, 89, 23, 45,
56, 78, 34, 23, 45, 67, 89, 45, 67, 89, 12, 34, 56, 78, 90, 23, 45,
67, 12, 34, 78, 45, 67, 89, 34, 56, 78, 90, 23, 56, 78, 89, 45, 12,
67, 45, 78, 23, 45, 67, 89, 34, 45, 23, 78, 67, 89, 45, 67, 89, 12,
34, 56, 78, 90, 23, 12, 34, 56, 78, 23, 45, 67, 89, 34, 45, 23, 45,
67, 89, 12, 34, 56, 78, 90, 45, 23]
d=sum(data)
l=len(data)
mean=d/l
print("Mean of the sample data is:",mean)

Mean of the sample data is: 54.744680851063826

The dataset below represents the ages of 500 people in a city:
Data (Ages):
Data: [45, 67, 89, 23, 45, 67, 89, 34, 56, 78, 90, 21, 45, 67, 89, 23, 45,
56, 78, 34, 23, 45, 67, 89, 45, 67, 89, 12, 34, 56, 78, 90, 23, 45,
67, 12, 34, 78, 45, 67, 89, 34, 56, 78, 90, 23, 56, 78, 89, 45, 12,
67, 45, 78, 23, 45, 67, 89, 34, 45, 23, 78, 67, 89, 45, 67, 89, 12,
34, 56, 78, 90, 23, 12, 34, 56, 78, 23, 45, 67, 89, 34, 45, 23, 45,
67, 89, 12, 34, 56, 78, 90, 45, 23].
• Use numpy and pandas to calculate the median and mode of the dataset.
• Comment on the efficiency of your approach.

In [ ]:
import numpy as np
values = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
frequency = [200, 350, 400, 300, 250, 200, 150, 80, 50, 20]
sum_fx = sum(f*v for f, v in zip(frequency,values))
sum_f = sum(frequency)
mean = sum_fx / sum_f
print("Mean of the frequency distribution is:", mean)

Mean of the frequency distribution is: 40.45

The table below represents the scores of 2000 students in an exam and their corresponding
frequencies:
Scores (X): [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Frequency (F): [200, 350, 400, 300, 250, 200, 150, 80, 50, 20]
• Use pandas to calculate the median and mode of this grouped data.
• Write a Python function to handle grouped data calculations efficiently for large
datasets.

In [ ]:
class_intervals=[(0,20),(20,40),(40,60),(60,80),(80,100),(100,120),(120,140)]
frequencies=[50,120,200,300,220,70,40]
midpoints=[(first+last)/2 for first,last in class_intervals]
sum_fm=sum(f*m for f,m in zip(frequencies,midpoints))
sum_f=sum(frequencies)
mean=sum_fm/sum_f
print(mean)

67.8

The following table shows the income distribution of 1000 households (in $1000s):
Income Range (Class Interval) Frequency
0 − 20 50
20 − 40 120
40 − 60 200
60 − 80 300
80 − 100 220
100 − 120 70
120 − 140 40
• Use Python to calculate the median and mode for the grouped data.
• For mode, determine the modal class.
2